version: 0.0.4.{build}-{branch}
image: Visual Studio 2019
shallow_clone: true

environment:
  matrix:
    - CONFIG: Release
      ARCH: amd64
      QTDIR: C:\Qt\5.13.2\msvc2017_64
      INSTALLER: ON
    - CONFIG: Debug
      ARCH: amd64
      QTDIR: C:\Qt\5.13.2\msvc2017_64
      INSTALLER: OFF
    - CONFIG: Release
      ARCH: x86
      QTDIR: C:\Qt\5.13.2\msvc2017
      INSTALLER: OFF
    - CONFIG: Debug
      ARCH: x86
      QTDIR: C:\Qt\5.13.2\msvc2017
      INSTALLER: OFF

cache:
  - _build\doctest.h
  - _build\vc_redist.x64.exe

install:
  - cmake --version
  - if "%CONFIG%"=="Release" (set CMAKE_GENERATOR=Ninja) else (set CMAKE_GENERATOR=Visual Studio 16 2019)
  - if "%CMAKE_GENERATOR%"=="Ninja" call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" %ARCH%
  - if "%CMAKE_GENERATOR%"=="Ninja" cinst ninja
  - if "%CMAKE_GENERATOR%"=="Ninja" set EXTRA_CMAKE_FLAGS=-DCMAKE_BUILD_TYPE=%CONFIG%
  - if "%CMAKE_GENERATOR%"=="Visual Studio 16 2019" if "%ARCH%"=="x86" (set CMAKE_GENERATOR_PLATFORM=Win32) else (set CMAKE_GENERATOR_PLATFORM=x64)
  - if "%CMAKE_GENERATOR%"=="Visual Studio 16 2019" set EXTRA_BUILD_FLAGS=-- /nologo "/verbosity:minimal"
  - if "%CMAKE_GENERATOR%"=="Visual Studio 16 2019" set EXTRA_TEST_FLAGS=--build-config %CONFIG%
  - set CMAKE_CONFIG_TYPE=%CONFIG%

build_script:
  - set BUILD_DIR=%APPVEYOR_BUILD_FOLDER%\_build
  - set INSTALL_DIR=%APPVEYOR_BUILD_FOLDER%\_install
  - if not exist %BUILD_DIR% mkdir %BUILD_DIR%
  - cd %BUILD_DIR%
  - cmake %APPVEYOR_BUILD_FOLDER% %EXTRA_CMAKE_FLAGS% -DCMAKE_INSTALL_PREFIX=%INSTALL_DIR% -DCMAKE_PREFIX_PATH=%QTDIR% -DPUBLIC_BUILD=%APPVEYOR_REPO_TAG% -DWITH_BENCHMARK=ON -DWITH_STUDIO=ON -DWITH_STUDIO_INSTALLER=ON -DWITH_TESTS=ON
  - cmake --build . %EXTRA_BUILD_FLAGS%
  - cmake --build . --target install %EXTRA_BUILD_FLAGS%
  - cmake --build . --target studio_installer %EXTRA_BUILD_FLAGS%
  - if "%INSTALLER%"=="ON" xcopy AulosStudio-*.exe %APPVEYOR_BUILD_FOLDER%

test_script:
  - ctest --output-on-failure %EXTRA_TEST_FLAGS%
  - if "%CMAKE_GENERATOR%"=="Ninja" cd %BUILD_DIR%\bin
  - if "%CMAKE_GENERATOR%"=="Visual Studio 16 2019" cd %BUILD_DIR%\bin\%CONFIG%
  - benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\fur_elise.aulos
  - benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\grande_valse_brillante.aulos
  - benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\prelude_in_g_minor.aulos

artifacts:
  - path: AulosStudio-*.exe
    type: file
