version: 0.0.5.{build}-{branch}
image: Visual Studio 2019
shallow_clone: true

environment:
  matrix:
    - CONFIG: Release
      ARCH: amd64
      GENERATOR: Ninja
      INSTALLER: ON
      QT: 5
    - CONFIG: Debug
      ARCH: amd64
      GENERATOR: MSVS
      INSTALLER: OFF
      QT: 6
    - CONFIG: RelWithDebInfo
      ARCH: x86
      GENERATOR: MSVS
      INSTALLER: OFF
      QT: 5
    - CONFIG: Debug
      ARCH: x86
      GENERATOR: Ninja
      INSTALLER: OFF
      QT: 5

cache:
  - _build\doctest.h
  - _build\vc_redist.x64.exe

install:
  - if "%ARCH%"=="amd64" (set QTDIR=C:\Qt\5.15.2\msvc2019_64) else (set QTDIR=C:\Qt\5.15.2\msvc2019)
  - if "%QT%"=="6" set QTDIR=C:\Qt\6.0.0\msvc2019_64
  - if "%GENERATOR%"=="MSVS" (set CMAKE_GENERATOR=Visual Studio 16 2019) else (set CMAKE_GENERATOR=%GENERATOR%)
  - if "%GENERATOR%"=="Ninja" call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" %ARCH%
  - if "%GENERATOR%"=="Ninja" cinst ninja
  - if "%GENERATOR%"=="Ninja" set EXTRA_CMAKE_FLAGS=-DCMAKE_BUILD_TYPE=%CONFIG%
  - if "%GENERATOR%"=="MSVS" if "%ARCH%"=="amd64" (set CMAKE_GENERATOR_PLATFORM=x64) else (set CMAKE_GENERATOR_PLATFORM=Win32)
  - if "%GENERATOR%"=="MSVS" set EXTRA_BUILD_FLAGS=--config %CONFIG% -- /nologo "/verbosity:minimal"
  - if "%GENERATOR%"=="MSVS" set EXTRA_TEST_FLAGS=--build-config %CONFIG%

build_script:
  - set BUILD_DIR=%APPVEYOR_BUILD_FOLDER%\_build
  - set INSTALL_DIR=%APPVEYOR_BUILD_FOLDER%\_install
  - cmake -S %APPVEYOR_BUILD_FOLDER% -B %BUILD_DIR% %EXTRA_CMAKE_FLAGS% -DCMAKE_INSTALL_PREFIX=%INSTALL_DIR% -DCMAKE_PREFIX_PATH=%QTDIR% -DQT_VERSION=%QT% -DPUBLIC_BUILD=%APPVEYOR_REPO_TAG% -DWITH_BENCHMARK=ON -DWITH_STANDALONE=ON -DWITH_STUDIO=ON -DWITH_STUDIO_INSTALLER=ON -DWITH_TESTS=ON
  - cmake --build %BUILD_DIR% %EXTRA_BUILD_FLAGS%
  - cmake --build %BUILD_DIR% --target install %EXTRA_BUILD_FLAGS%
  - cmake --build %BUILD_DIR% --target studio_installer %EXTRA_BUILD_FLAGS%
  - if "%INSTALLER%"=="ON" xcopy %BUILD_DIR%\AulosStudio-*.exe %APPVEYOR_BUILD_FOLDER%

test_script:
  - cd %BUILD_DIR%
  - ctest --output-on-failure %EXTRA_TEST_FLAGS%
  - cd %INSTALL_DIR%\bin
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\czardas.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\frere_jacques.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\fur_elise.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\grande_valse_brillante.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\hungarian_dance.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\prelude_in_c_minor.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\prelude_in_g_minor.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\synth_1.aulos
  - aulos_benchmark.exe %APPVEYOR_BUILD_FOLDER%\examples\turkish_march.aulos

artifacts:
  - path: AulosStudio-*.exe
    type: file
