version: 0.0.1.{build}-{branch}
image: Visual Studio 2019
shallow_clone: true

environment:
  matrix:
    - CONFIG: Release
      ARCH: amd64
      QTDIR: C:\Qt\5.13.2\msvc2017_64
      INSTALLER: ON
    - CONFIG: Debug
      ARCH: amd64
      QTDIR: C:\Qt\5.13.2\msvc2017_64
      INSTALLER: OFF
    - CONFIG: Release
      ARCH: x86
      QTDIR: C:\Qt\5.13.2\msvc2017
      INSTALLER: OFF
    - CONFIG: Debug
      ARCH: x86
      QTDIR: C:\Qt\5.13.2\msvc2017
      INSTALLER: OFF

cache:
  - _build\doctest.h
  - _build\vc_redist.x64.exe

install:
  - cmake --version
  - if "%CONFIG%"=="Release" (set GENERATOR=Ninja) else (set GENERATOR=VisualStudio)
  - if "%ARCH%"=="x86" (set VS_ARCH=Win32) else (set VS_ARCH=x64)
  - if "%GENERATOR%"=="Ninja" call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" %ARCH%
  - if "%GENERATOR%"=="Ninja" cinst ninja

build_script:
  - set BUILD_DIR=%APPVEYOR_BUILD_FOLDER%\_build
  - set INSTALL_DIR=%APPVEYOR_BUILD_FOLDER%\_install
  - if not exist %BUILD_DIR% mkdir %BUILD_DIR%
  - cd %BUILD_DIR%
  - set COMMON_CMAKE_OPTIONS=-DCMAKE_INSTALL_PREFIX=%INSTALL_DIR% -DCMAKE_PREFIX_PATH=%QTDIR% -DPUBLIC_BUILD=%APPVEYOR_REPO_TAG% -DWITH_STUDIO=ON -DWITH_STUDIO_INSTALLER=ON -DWITH_TESTS=ON -DWITH_TOOLS=ON
  - if "%GENERATOR%"=="Ninja" cmake -G Ninja %APPVEYOR_BUILD_FOLDER% -DCMAKE_BUILD_TYPE=%CONFIG% %COMMON_CMAKE_OPTIONS%
  - if "%GENERATOR%"=="VisualStudio" cmake -G "Visual Studio 16 2019" -A %VS_ARCH% %APPVEYOR_BUILD_FOLDER% %COMMON_CMAKE_OPTIONS%
  - if "%GENERATOR%"=="Ninja" cmake --build .
  - if "%GENERATOR%"=="VisualStudio" cmake --build . --config %CONFIG% -- /nologo "/verbosity:minimal"
  - if "%GENERATOR%"=="Ninja" cmake --build . --target install
  - if "%GENERATOR%"=="VisualStudio" cmake --build . --config %CONFIG% --target install -- /nologo "/verbosity:minimal"
  - if "%GENERATOR%"=="Ninja" cmake --build . --target studio_installer
  - if "%GENERATOR%"=="VisualStudio" cmake --build . --config %CONFIG% --target studio_installer -- /nologo "/verbosity:minimal"
  - if "%INSTALLER%"=="ON" xcopy AulosStudio-*.exe %APPVEYOR_BUILD_FOLDER%

artifacts:
  - path: AulosStudio-*.exe
    type: file
