language: cpp

git:
  depth: 1

matrix:
  include:

    - os: linux
      dist: focal
      compiler: gcc
      env: GCC=10 CONFIG=Release
      addons: &gcc_addons
        apt:
          packages:
            - g++-10
            - ninja-build
            - qtbase5-dev
            - qtmultimedia5-dev

    - os: linux
      dist: focal
      compiler: gcc
      env: GCC=10 CONFIG=Debug
      addons: *gcc_addons

    - os: linux
      dist: focal
      compiler: clang
      env: CLANG=11 CONFIG=Release
      addons: &clang_addons
        apt:
          packages:
            - clang-11
            - libstdc++-10-dev
            - ninja-build
            - qtbase5-dev
            - qtmultimedia5-dev

    - os: linux
      dist: focal
      compiler: clang
      env: CLANG=11 CONFIG=Debug
      addons: *clang_addons

before_install:
  - if [ -n "${CLANG}" ]; then export CXX=clang++-${CLANG}; fi
  - if [ -n "${GCC}" ]; then export CXX=g++-${GCC}; fi
  - ${CXX} --version
  - cmake --version

script:
  - if [ "${CONFIG}" = "Debug" ]; then CMAKE_OPTIONS="-DUSE_SANITIZERS=ON"; fi
  - mkdir "${HOME}/aulos.build" && pushd "${HOME}/aulos.build"
  - cmake ${TRAVIS_BUILD_DIR} -G Ninja -DCMAKE_BUILD_TYPE=${CONFIG} -DCMAKE_INSTALL_PREFIX="${HOME}/aulos.install" -DQT_VERSION=5 -DWITH_BENCHMARK=ON -DWITH_STANDALONE=ON -DWITH_STUDIO=ON -DWITH_TESTS=ON ${CMAKE_OPTIONS}
  - TERM=dumb cmake --build .
  - ctest --output-on-failure
  - TERM=dumb cmake --build . --target install
  - popd

after_success:
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/czardas.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/frere_jacques.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/fur_elise.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/grande_valse_brillante.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/hungarian_dance.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/prelude_in_c_minor.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/prelude_in_g_minor.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/synth_1.aulos
  - ${HOME}/aulos.install/bin/aulos_benchmark ${TRAVIS_BUILD_DIR}/examples/turkish_march.aulos

notifications:
  email: false
