language: cpp

git:
  depth: 1

matrix:
  include:

    - os: linux
      dist: bionic
      compiler: gcc
      env: GCC=10 CONFIG=Release
      addons: &gcc10
        apt:
          sources: &all_sources
            - ubuntu-toolchain-r-test
          packages:
            - g++-10
            - ninja-build
            - qtbase5-dev
            - qtmultimedia5-dev

    - os: linux
      dist: bionic
      compiler: gcc
      env: GCC=10 CONFIG=Debug
      addons: *gcc10

    - os: linux
      dist: bionic
      compiler: clang
      env: CLANG=9 CONFIG=Release
      addons: &clang9
        apt:
          sources: *all_sources
          packages:
            - clang-9
            - libstdc++-10-dev
            - ninja-build
            - qtbase5-dev
            - qtmultimedia5-dev

    - os: linux
      dist: bionic
      compiler: clang
      env: CLANG=9 CONFIG=Debug
      addons: *clang9

before_install:
  - if [ -n "${CLANG}" ]; then export CXX=clang++-${CLANG}; fi
  - if [ -n "${GCC}" ]; then export CXX=g++-${GCC}; fi

install:
  - mkdir "${HOME}/_cmake" && pushd "${HOME}/_cmake"
  - wget --output-document=- --quiet https://github.com/Kitware/CMake/releases/download/v3.17.1/cmake-3.17.1-Linux-x86_64.tar.gz | tar -x --gzip --strip-components 1
  - export PATH="$(pwd)/bin:${PATH}"
  - popd

script:
  - if [ "${CONFIG}" = "Debug" ]; then CMAKE_OPTIONS="-DUSE_SANITIZERS=ON"; fi
  - cmake -H. -B"${HOME}/aulos.build" -G"Ninja" -DCMAKE_BUILD_TYPE=${CONFIG} -DCMAKE_INSTALL_PREFIX="${HOME}/aulos.install" -DCMAKE_RUNTIME_OUTPUT_DIRECTORY="${HOME}/aulos.build/bin" -DWITH_BENCHMARK=ON -DWITH_STUDIO=ON -DWITH_TESTS=ON ${CMAKE_OPTIONS}
  - pushd "${HOME}/aulos.build"
  - TERM=dumb cmake --build .
  - ctest --output-on-failure
  - TERM=dumb cmake --build . --target install
  - popd

after_success:
  - ${HOME}/aulos.build/bin/benchmark ${TRAVIS_BUILD_DIR}/examples/fur_elise.aulos
  - ${HOME}/aulos.build/bin/benchmark ${TRAVIS_BUILD_DIR}/examples/grande_valse_brillante.aulos
  - ${HOME}/aulos.build/bin/benchmark ${TRAVIS_BUILD_DIR}/examples/hungarian_dance.aulos
  - ${HOME}/aulos.build/bin/benchmark ${TRAVIS_BUILD_DIR}/examples/prelude_in_g_minor.aulos

notifications:
  email: false
